<body>
<app-header></app-header>

<div class="conatiner">
    <div class="row"  style="margin-left: 100px;margin-top: 200px;">
        <div class="col-6 mt-5">
            <ul class="btn-list">
                <li><a href="#" class="button button1">Click</a></li>
                <li><a href="#" class="button button2">Click</a></li>
                <li><a href="#" class="button button3">Click</a></li>
                </ul>
            
            <!-- <h2  style="color:  #22215d;;">Welcome to Chat app</h2>
             <h5  style="color: #5a8c8c; ;" >A Real Time Chat Application</h5> -->
             <!-- <button type="button" class="btn btn-dark btn-secondary btn-lg" routerLink="/login">LogIn</button>
             <button type="button" class="btn btn-dark btn-primary btn-lg" routerLink="/signup">SignUp</button>
             <br> -->
            
             
             <!-- <div class="button-container">
                <button id="b1"  type="button" class="btn btn-success"  routerLink="/signup">SignUp</button>
                <button  id="b2"  type="button" class="btn btn-success" routerLink="/login">LogIn</button>
            </div>             -->
      
        </div>
        
    </div>
</div>
</body>